:root{
    --orange-color: #FF8D24;
    --dack-blue-color: #2F505F;
    --dark-green-color: #3894A3;
    --white-color: #F1F1EF;
    --light-green-color: #C7DAD4;
}
*,
*::after,
I*::before{
    box-sizing: border-box;
}
/* content */
body{
    margin: 0;
    font-family: "poppins";
}

.wrapper{
    width: 69%;
    margin: 0 auto;
}

/* buttons */

.btndark{
    padding: 10px 30px;
    border-radius: 9px;
    color: #F1F1EF;
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    margin-right: 30px;
    
}
.btnlight {
    padding: 10px 30px;
    border-radius: 9px;
    color: #3894A3;
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.btndark{
    background: var(--dark-green-color) ;

}

.btnlight{
    border-radius: 9px;
    border: 2px solid #00A5C0;  
    
}


/* Add default styles for your navbar */
nav {
    background-color: transparent;
    position: fixed;
    width: 86%; 
    top: 0px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
    padding-left: 15%;
}
nav .logo {
    color: #5abee2;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 900;
    padding-left: 1%;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 2%;
    padding-right: 18%;
}

nav ul li a {
    color: #5abee2;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

/* Add a background color when scrolling */
nav.scrolled {
    background-color: #333333c9; /* Change this to your desired background color */
    padding-left: -50%;
}
/* content section */

.content-section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.welcome{
    display: flex;
    font-size: 24px;
    font-family: Poppins;
    color: #003655;
    text-align: left;
    width: 321px;
    height: 38px;
        
        
}

.content-section .left h1{
    display: flex;
    font-size: 60px;
    text-align: left;
    width: 520px;
    height: 162px;
    color: #3894a3;
    margin-bottom: 0;
    margin-top: 0;
}

.content-section .right img{
    height: 550px;
}
.content-section .left p{
    display: flex;
    font-size: 18px;
    color: #595858;
    text-align: left;
    display: inline-block;
    width: 496px;
    height: 194px;
}
.content-section .left {
    
    width: 457px;
}

/* end of heading */
/* 
.skills-section{
    display: flex;
    
}



.skills {
    padding-left: 560px;
    width: 161px;
    height: 52px;
    flex-shrink: 0;
    color: #2D5260;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.Skillstitle .h4{
    
    position: relative;
    font-size: 28px;
    font-weight: 600;
    font-family: Poppins;
    color: #2d5260;
    text-align: left;
    display: inline-block;
    width: 329px;
    height: 36px;
}



.Skillstitle .lg {
    
    background: #ffffff00;
    border-radius: 20px;
    border-style: solid;
    border-color: #999999;
    border-width: 1px;
    color: #3e3e3e;
    font: 500 24px 'Poppins', sans-serif;
    padding: 10px 70px;
    text-decoration: none;
    margin-right: 30px;
} */
.skills-section{
display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.skills1 {
    
  	margin-top: -10%;
    padding-left: 45%;
  	left: calc(50% - 76px);
  	font-size: 45px;
  	display: inline-block;
  	color: #2d5260;
  	width: 161px;
  	height: 52px;
}

.python {
    
  	position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 20%;
    left: 9%;
  	font-weight: 500;
  	display: inline-block;
  	width: 22%;
    height: 64px;
    border-radius: 20px;
  	background-color: #fff;
  	border: 1px solid #999;
  	box-sizing: border-box;
    text-align: center;
    
}
.html5 {
    display: inline;
    position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 20%;
    left: 32%;
    font-weight: 500;
    display: inline-block;
    width: 22%;
    height: 64px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    text-align: center;
}
.css {
    position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 20%;
    left: 55%;
    font-weight: 500;
    display: inline-block;
    width: 22%;
    height: 64px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    text-align: center;
}
.javascript {
    position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 20%;
  	left: 78%;
    font-weight: 500;
    display: inline-block;
    width: 22%;
    height: 64px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    text-align: center;
}
.php {
  	
    position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 29%;
    left: 9%;
    font-weight: 500;
    display: inline-block;
    width: 22%;
    height: 64px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    text-align: center;
}
.react {
    position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 47%;
    left: 9%;
    font-weight: 500;
    display: inline-block;
    width: 22%;
    height: 64px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    text-align: center;
}
.bootstrap {
  	
    position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 47%;
    left: 32%;
    font-weight: 500;
    display: inline-block;
    width: 22%;
    height: 64px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    text-align: center;

}
.tailwindcss {
    position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 47%;
    left: 55%;
    font-weight: 500;
    display: inline-block;
    width: 22%;
    height: 64px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    text-align: center;
}

.django {
      position: absolute;
      text-decoration: none;
      color: #373737;
      padding: 13px 10px;
      top: 65%;
      left: 9%;
      font-weight: 500;
      display: inline-block;
      width: 22%;
      height: 64px;
      border-radius: 20px;
      background-color: #fff;
      border: 1px solid #999;
      box-sizing: border-box;
      text-align: center;
}
.laravel {
      position: absolute;
      text-decoration: none;
      color: #373737;
      padding: 13px 10px;
      top: 65%;
      left: 32%;
      font-weight: 500;
      display: inline-block;
      width: 22%;
      height: 64px;
      border-radius: 20px;
      background-color: #fff;
      border: 1px solid #999;
      box-sizing: border-box;
      text-align: center;
}

.vs-code {
      position: absolute;
      text-decoration: none;
      color: #373737;
      padding: 13px 10px;
      top: 83%;
      left: 9%;
      font-weight: 500;
      display: inline-block;
      width: 22%;
      height: 64px;
      border-radius: 20px;
      background-color: #fff;
      border: 1px solid #999;
      box-sizing: border-box;
      text-align: center;
}
.figma {
      position: absolute;
      text-decoration: none;
      color: #373737;
      padding: 13px 10px;
      top: 83%;
      left: 32%;
      font-weight: 500;
      display: inline-block;
      width: 22%;
      height: 64px;
      border-radius: 20px;
      background-color: #fff;
      border: 1px solid #999;
      box-sizing: border-box;
      text-align: center;
}
.pgadmin {
    position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 83%;
    left: 55%;
    font-weight: 500;
    display: inline-block;
    width: 22%;
    height: 64px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    text-align: center;
  
}
.github {
      position: absolute;
      text-decoration: none;
      color: #373737;
      padding: 13px 10px;
      top: 92%;
      left: 9%;
      font-weight: 500;
      display: inline-block;
      width: 22%;
      height: 64px;
      border-radius: 20px;
      background-color: #fff;
      border: 1px solid #999;
      box-sizing: border-box;
      text-align: center;
    
}

.git {
      position: absolute;
      text-decoration: none;
      color: #373737;
      padding: 13px 10px;
      top: 83%;
      left: 78%;
      font-weight: 500;
      display: inline-block;
      width: 22%;
      height: 64px;
      border-radius: 20px;
      background-color: #fff;
      border: 1px solid #999;
      box-sizing: border-box;
      text-align: center;
}
.language {
  	
    
    margin-top: 70px;
    margin-left: 0%;
    font-size: 28px;
    display: inline-block;
    color: #2d5260;
    font-size: 28px;
  	font-weight: 600;
    
}
.frontend-frameworks {
  	position: absolute;
  	top: 366px;
  	left: 0px;
  	font-size: 28px;
  	font-weight: 600;
  	color: #2d5260;
  	display: inline-block;
  	width: 329px;
  	height: 36px;
}
.backend-frameworks {
  	position: absolute;
  	top: 525px;
  	left: 0px;
  	font-size: 28px;
  	font-weight: 600;
  	color: #2d5260;
  	display: inline-block;
  	width: 329px;
  	height: 36px;
}
.tools {
  	position: absolute;
  	top: 687px;
  	left: 0px;
  	font-size: 28px;
  	font-weight: 600;
  	color: #2d5260;
  	display: inline-block;
  	width: 80px;
  	height: 36px;
}
.skills {
  	position: relative;
  	width: 100%;
  	height: 901px;
  	text-align: left;
  	font-size: 24px;
  	color: #3e3e3e;
  	font-family: Poppins;
}
/* end of skill form */

.project {
    position: relative;
    top: 300px;
    width: 100%;
    height: 901px;
    text-align: left;
    font-size: 24px;
    color: #3e3e3e;
    font-family: Poppins;
}

.projects1 {
    position: absolute;
  	
  	left: calc(50% - 76px);
  	font-size: 45px;
  	display: inline-block;
  	color: #2d5260;
  	width: 161px;
  	height: 52px;
    /* position: absolute;
  	top: 0px;
  	left: calc(50% - 76px);
  	font-size: 45px;
  	display: inline-block;
  	color: #2d5260;
  	width: 161px;
  	height: 52px; */
    }
.projects-card1 {
    display: flexbox;
    top: 150px;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    width: 40%;
    height: 630px;
    }

.projects-card2 {
        top: -480px;
        left: 60%;
        position: relative;
        border-radius: 30px;
        background-color: #fff;
        box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.25);
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        width: 40%;
        height: 630px;
        }
    
.myproject1 {
    position: inherit;
    border-radius: 15px;
    padding-top: 2.5%;
    padding-left: 2.5%;
    object-fit: fill;
    width: 95%;
}
.myproject2 {
    position: inherit;
    border-radius: 15px;
    padding-top: 2.5%;
    padding-left: 2.5%;
    object-fit: fill;
    width: 95%;
    
}
    
.card-title {
    position: absolute;
    padding-top: 10px;
    padding-left: 25px;
    font-size: 24px;
    font-weight: 600;
    color: #262626;
    text-align: left;
    display: inline-block;
    width: 250px;
    height: 32px;
    }
.aipdesc {
    position: inherit;
    padding: 20px; /* Add padding to create spacing within the card */
    display: inline-block;
    width: 90%; /* Set the width to 100% to ensure it fits within the card */
    text-align: left;
    height: auto; /* Allow the height to adjust based on content */
    }
.explorebtn {
    position: absolute;
    width: 93.80%;
    top: 90%;
    right: 0%;
    left: 3%;
    border-radius: 30px;
    background-color: #00a5c0;
    height: 43px;
    }
.card1-btn {
    position: absolute;
    top: calc(40% - 13.5px);
    left: calc(45% - 65px);
    font-weight: 600;
    display: inline-block;
    width: 200px;
    height: 27px;
    color: #fff;
            }
            nav.mobile-nav{
                display: none;
            }
            @media only screen and (max-width: 1440px) {
                .content-section{
                    margin-top: -180px;
                }
                .content-section .right img{
                    margin-left: 90px;
                }
            }
            @media only screen and (max-width: 1024px) {
                nav {
                    top: 0px;
                    width: 80%; /* Adjust as needed */
                    padding-left: 7%; /* Adjust padding for the logo */
                }
                
                nav.mobile-nav{
                    display: none;
                }
                /* nav.scrolled.logo {
                    padding-left: 50px;
                } */
                
                .skills-section {
                    margin-left: -15%;
                }
                .content-section {
                    padding: 10px;
                    margin-top: -350px;
                    margin-left: 0px;
                }
                .content-section .left p {
                    height: auto;
                    max-width: 100%;
                    margin-top: 2%;
                    padding-right: 15%;
                    
                }
                .btndark{
                    margin-left: -30%;  
                }
                .btnlight{
                    margin-left: -20px;  
                }
            
                .content-section .left, .content-section .right {
                    width: 80%;
                    text-align: center;
                    padding: 20px 0;
                    padding-top: 20%;
                }
                
            
                .content-section .right img {
                    height: auto;
                    margin-top: 280%;
                    margin-left: -230%;
                    
                    
                }
                .skills-section{
                    padding-top: 50%;
                }
            
            .python, 
            .html5, 
            .css, 
            .javascript, 
            .php{
                font-size: 18px;
                padding: 13px 20px;
                width: 22%;
                height: 55px;
            }
            .php {
                margin-top: -20px;
            }
            .react, .bootstrap, .tailwindcss{
                margin-top: -40px;
                font-size: 18px;
                padding: 13px 20px;
                width: 22%;
                height: 55px;
            }
            .django, .laravel{
                margin-top: -40px;
                font-size: 18px;
                padding: 13px 20px;
                width: 22%;
                height: 55px;
            }
            .vs-code, .figma, .pgadmin, .git, .github {
                margin-top: -40px;
                font-size: 18px;
                padding: 13px 20px;
                width: 22%;
                height: 55px;
            }
            .github {
                margin-top: -60px;
            }
            .frontend-frameworks, .backend-frameworks, .tools{
                margin-top: -40px;
            }
            
            .project{
                margin-top: -120px;
                margin-left: -100px;
            }
            .myproject1{
                margin-top: 0%;
                width: 95%;
            }
            .projects-card1 {
            top: 15%;
            width: 100%;
            }
            .projects-card2{
                top: 20%;
                margin-left: -60%;
                width: 100%;
            }
            .aipdesc{
                font-size: 22px;
            }
            }
            
            @media only screen and (max-width: 976px) {
                .project{
                    margin-left: -70px;
                }
            }

            @media only screen and (max-width: 768px) {
                nav{
                    margin-left: 10px;
                    margin-top: 20px;
                    width: 100%;
                }
                nav.mobile{
                    display: none;
                }
                nav.mobile.scrolled{
                    display: none;
                }
                nav.scrolled {
                    height: 8%;
                    width: 100%;
                    margin-top: -1%;
                    margin-left: -1%;
                    padding-left: 9%;
                }
                .content-section .left a{
                    margin-left: -1px;
                }
                .project{
                    margin-left: -70px;
                }
                .content-section .right img {
                    margin-left: -500px;
                    margin-top: 1150px;
                }
                
                
                .skills-section{
                    padding-left: 5%;
                }
                .python, 
                .html5, 
                .css, 
                .javascript, 
                .php, 
                .react, 
                .bootstrap, 
                .tailwindcss,
                .django, 
                .laravel,
                .vs-code, 
                .figma, 
                .pgadmin, 
                .git, 
                .github{
                font-size: 65%;
                padding: 16px 8px; 
            }
            .project{
                margin-left: -10px;
            }
            }



            /* Media query for phones (e.g., iPhone) */
            @media only screen and (max-width: 480px) {
                nav {
                    display: none; /* Add this line */
                }
                nav.mobile-nav{
                    display: flex;
                    padding-left: 25px;
                    padding-top: 10px;
                }
                nav .menu-icon{
                    padding-right: 15%;
                    
                }
                nav.scrolled {
                    height: 12.5%;
                    width: 100%;
                    margin-top: -1%;
                    margin-left: -1%;
                    padding-left: 8%;
                }
                
                .content-section {
                    margin-top: 30px;
                    flex-direction: column;
                    margin-left: -80px;
                    width: 140%;
                }
                .content-section .left h1 {
                    display: flex;
                    font-size: 42px;
                    width: 350px;
                    height: 162px;
                }
                .content-section .left p {
                    margin-top: -30px;
                    font-size: 16px;
                    width: 500px;
                }
                .content-section .left .btndark{
                    margin-left: -35%;
                }
                .content-section .left .btnlight{
                    margin-left: -5%;
                }
                .btndark {
                font-size: 70%;
                padding: 13px 20px;
                
                }
                .btnlight{
                    font-size: 70%;
                    padding: 13px 20px;
                }
                .content-section .right img {
                    height: auto;
                    max-width: 100%;
                    padding-left: 130%;
                    margin-top: -20%;
                }
                .skills-section{
                    margin-left: -15%;
                    margin-top: 50%;
                }
                .skills1{
                    margin-left: -25px;
                }
                .python, 
                .html5, 
                .css, 
                .javascript, 
                .php, 
                .react, 
                .bootstrap, 
                .tailwindcss,
                .django, 
                .laravel,
                .vs-code, 
                .figma, 
                .pgadmin, 
                .git, 
                .github{
                font-size: 40%;
                padding: 15px 5px;
                padding-top: 8px;
                width: 30%;
                height: 30px;
            }
            
            .html5,
            .bootstrap,
            .laravel,
            .figma{
                margin-left: 25px;
            }
            .css,
            .tailwindcss,
            .pgadmin
            {
                margin-left: 50px;
            }
            .javascript
            {
                margin-top: 35px;
                margin-left: -69%;
            }
            .git{
                margin-top: -165px;
                margin-left: -69%;
                
            }
            .php{
                margin-top: -46px;
                margin-left: 32%;
            }
            .github{
                margin-top: -246px;
                margin-left: 32%;
            }

            .language{
                margin-top: 90px;
            }
            .frontend-frameworks{
                margin-top: -90px;
            }
            .backend-frameworks{
                margin-top: -140px;
            }
            .tools{
                margin-top: -190px;
            }
            .react, 
            .bootstrap, 
            .tailwindcss{
                margin-top: -95px;
            }
            .django, 
            .laravel{
                margin-top: -150px;
            }
            .vs-code, 
            .figma, 
            .pgadmin{
                margin-top: -200px;
            }
        
                /* Adjust other styles as needed for smaller screens */
            }
            @media only screen and (max-width: 414px) {
                .content-section .right img{
                    width: 100%;
                    padding-left: 160%;
                }
            }
            @media only screen and (max-width: 390px) {
                .content-section .right img{
                    width: 90%;
                    padding-left: 170%;
                }
            }