:root{
    --orange-color: #FF8D24;
    --dack-blue-color: #2F505F;
    --dark-green-color: #3894A3;
    --white-color: #F1F1EF;
    --light-green-color: #C7DAD4;
}
*,
*::after,
I*::before{
    box-sizing: border-box;
}
/* content */
body{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0;
    font-family: "poppins";
    height: 100vh;
}

.wrapper{
    width: 69%;
    margin: 0 auto;
    
}

/* buttons */

.btndark {
    background: var(--dark-green-color);
    padding: 10px 30px;
    border-radius: 9px;
    color: #F1F1EF;
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    margin-right: 30px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Add box-shadow to the transition */
}

.btndark:hover {
    padding: 10px 30px;
    border: 2px solid #00A5C0;
    color: #3895a3;
    background-color: #ffffff;
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
    box-shadow: -8px 8px 0 0 #2F505F; /* Add box-shadow on hover */
}

.btnlight {
    background: var(--dark-green-color);
    padding: 10px 30px;
    border-radius: 9px;
    color: #F1F1EF;
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    margin-right: 30px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
.btnlight:hover {
    padding: 10px 30px;
    border: 2px solid #00A5C0;
    color: #3895a3;
    background-color: #ffffff;
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
    box-shadow: -8px 8px 0 0 #2F505F; /* Add box-shadow on hover */
}



.btnlight{
    border-radius: 9px;
    border: 2px solid #00A5C0;  
    
}


/* Add default styles for your navbar */
nav {
    background-color: transparent;
    position: fixed;
    width: 86%; 
    top: 0px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
    padding-left: 15%;
}
nav .logo {
    color: #5abee2;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-left: -50px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 2%;
    padding-right: 18%;
}

nav ul li a {
    color: #5abee2;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    position: relative; /* Add this line to position the pseudo-element */
}

nav ul li a::after { /* Add a pseudo-element for the underline effect */
    content: "";
    position: absolute;
    width: 0; /* Initially set to 0 width */
    height: 2px; /* Adjust the underline thickness if needed */
    bottom: 0;
    left: 0;
    background-color: #00a5c0;
    transition: width 0.3s ease; /* Add a smooth transition for the width change */
}

nav ul li a:hover::after {
    width: 100%; /* Increase the width on hover to create the underline effect */
}


/* Add a background color when scrolling */
nav.scrolled {
    background-color: #333333c9; /* Change this to your desired background color */
    padding-left: -50%;
}
/* content section */

.content-section{
    display: inline-block;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.welcome{
    display: flex;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #003655;
    text-align: left;
    width: 321px;
    height: 38px;
        
        
}

.content-section .right img{
    margin-left: -120%;
   
}

.content-section .left h1{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    text-align: left;
    width: 520px;
    height: 162px;
    color: #3894a3;
    margin-bottom: 0;
    margin-top: 0;
}


.content-section .left p{
    display: flex;
    font-size: 18px;
    color: #595858;
    text-align: left;
    display: inline-block;
    width: 496px;
    height: 194px;
}
.content-section .left {
    
    width: 457px;
}
.skills-section{
    display: inline-block;
    position: absolute;
    top: 110%;
    left: 15%;
    height: 100vh;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.skills1 {
    
    font-family: 'Poppins', sans-serif;
  	margin-top: -10%;
    padding-left: 45%;
  	left: calc(50% - 76px);
  	font-size: 45px;
  	display: inline-block;
  	color: #2d5260;
  	width: 161px;
  	height: 52px;
}
.language,
.python,
.php,
.javascript,
.css,
.html5,
.frontend-frameworks,
.react,
.tailwindcss,
.bootstrap,
.backend-frameworks,
.django,
.laravel,
.tools,
.vs-code,
.figma,
.pgadmin,
.github,
.git{
    font-family: 'Poppins', sans-serif;
}

.python {
    
  	position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 20%;
    left: 9%;
  	font-weight: 500;
  	display: inline-block;
  	width: 22%;
    height: 64px;
    border-radius: 20px;
  	background-color: #fff;
  	border: 1px solid #999;
  	box-sizing: border-box;
    text-align: center;
    
}
.html5 {
    display: inline;
    position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 20%;
    left: 32%;
    font-weight: 500;
    display: inline-block;
    width: 22%;
    height: 64px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    text-align: center;
}
.css {
    position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 20%;
    left: 55%;
    font-weight: 500;
    display: inline-block;
    width: 22%;
    height: 64px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    text-align: center;
}
.javascript {
    position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 20%;
  	left: 78%;
    font-weight: 500;
    display: inline-block;
    width: 22%;
    height: 64px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    text-align: center;
}
.php {
  	
    position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 29%;
    left: 9%;
    font-weight: 500;
    display: inline-block;
    width: 22%;
    height: 64px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    text-align: center;
}
.react {
    position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 47%;
    left: 9%;
    font-weight: 500;
    display: inline-block;
    width: 22%;
    height: 64px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    text-align: center;
}
.bootstrap {
  	
    position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 47%;
    left: 32%;
    font-weight: 500;
    display: inline-block;
    width: 22%;
    height: 64px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    text-align: center;

}
.tailwindcss {
    position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 47%;
    left: 55%;
    font-weight: 500;
    display: inline-block;
    width: 22%;
    height: 64px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    text-align: center;
}

.django {
      position: absolute;
      text-decoration: none;
      color: #373737;
      padding: 13px 10px;
      top: 65%;
      left: 9%;
      font-weight: 500;
      display: inline-block;
      width: 22%;
      height: 64px;
      border-radius: 20px;
      background-color: #fff;
      border: 1px solid #999;
      box-sizing: border-box;
      text-align: center;
}
.laravel {
      position: absolute;
      text-decoration: none;
      color: #373737;
      padding: 13px 10px;
      top: 65%;
      left: 32%;
      font-weight: 500;
      display: inline-block;
      width: 22%;
      height: 64px;
      border-radius: 20px;
      background-color: #fff;
      border: 1px solid #999;
      box-sizing: border-box;
      text-align: center;
}

.vs-code {
      position: absolute;
      text-decoration: none;
      color: #373737;
      padding: 13px 10px;
      top: 83%;
      left: 9%;
      font-weight: 500;
      display: inline-block;
      width: 22%;
      height: 64px;
      border-radius: 20px;
      background-color: #fff;
      border: 1px solid #999;
      box-sizing: border-box;
      text-align: center;
}
.figma {
      position: absolute;
      text-decoration: none;
      color: #373737;
      padding: 13px 10px;
      top: 83%;
      left: 32%;
      font-weight: 500;
      display: inline-block;
      width: 22%;
      height: 64px;
      border-radius: 20px;
      background-color: #fff;
      border: 1px solid #999;
      box-sizing: border-box;
      text-align: center;
}
.pgadmin {
    position: absolute;
    text-decoration: none;
    color: #373737;
    padding: 13px 10px;
    top: 83%;
    left: 55%;
    font-weight: 500;
    display: inline-block;
    width: 22%;
    height: 64px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    text-align: center;
  
}
.github {
      position: absolute;
      text-decoration: none;
      color: #373737;
      padding: 13px 10px;
      top: 92%;
      left: 9%;
      font-weight: 500;
      display: inline-block;
      width: 22%;
      height: 64px;
      border-radius: 20px;
      background-color: #fff;
      border: 1px solid #999;
      box-sizing: border-box;
      text-align: center;
    
}

.git {
      position: absolute;
      text-decoration: none;
      color: #373737;
      padding: 13px 10px;
      top: 83%;
      left: 78%;
      font-weight: 500;
      display: inline-block;
      width: 22%;
      height: 64px;
      border-radius: 20px;
      background-color: #fff;
      border: 1px solid #999;
      box-sizing: border-box;
      text-align: center;
}
.language {
  	
    
    margin-top: 70px;
    margin-left: 0%;
    font-size: 28px;
    display: inline-block;
    color: #2d5260;
    font-size: 28px;
  	font-weight: 600;
    
}
.frontend-frameworks {
  	position: absolute;
  	top: 366px;
  	left: 0px;
  	font-size: 28px;
  	font-weight: 600;
  	color: #2d5260;
  	display: inline-block;
  	width: 329px;
  	height: 36px;
}
.backend-frameworks {
  	position: absolute;
  	top: 525px;
  	left: 0px;
  	font-size: 28px;
  	font-weight: 600;
  	color: #2d5260;
  	display: inline-block;
  	width: 329px;
  	height: 36px;
}
.tools {
  	position: absolute;
  	top: 687px;
  	left: 0px;
  	font-size: 28px;
  	font-weight: 600;
  	color: #2d5260;
  	display: inline-block;
  	width: 80px;
  	height: 36px;
}
.skills {
  	position: relative;
  	width: 100%;
  	height: 901px;
  	text-align: left;
  	font-size: 24px;
  	color: #3e3e3e;
  	font-family: Poppins;
}
/* end of skill form */

.project {
    display: inline-block;
    position: absolute;
    top: 250%;
    left: 15%;
    width: 70%;
    height: 901px;
    text-align: left;
    font-size: 24px;
    color: #3e3e3e;
    font-family: Poppins;
}

.projects1 {
    position: absolute;
  	
  	left: calc(50% - 76px);
  	font-size: 45px;
  	display: inline-block;
  	color: #2d5260;
  	width: 161px;
  	height: 52px;
    
    }
.projects-card1 {
    display: flexbox;
    top: 150px;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    width: 40%;
    height: 630px;
    }

.projects-card2 {
        top: -480px;
        left: 60%;
        position: relative;
        border-radius: 30px;
        background-color: #fff;
        box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.25);
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        width: 40%;
        height: 630px;
        }
    
.myproject1 {
    position: inherit;
    border-radius: 15px;
    padding-top: 2.5%;
    padding-left: 2.5%;
    object-fit: fill;
    width: 95%;
}
.myproject2 {
    position: inherit;
    border-radius: 15px;
    padding-top: 2.5%;
    padding-left: 2.5%;
    object-fit: fill;
    width: 95%;
    
}
    
.card-title {
    position: absolute;
    padding-top: 10px;
    padding-left: 25px;
    font-size: 24px;
    font-weight: 600;
    color: #262626;
    text-align: left;
    display: inline-block;
    width: 250px;
    height: 32px;
    }
.aipdesc {
    position: inherit;
    padding: 20px; /* Add padding to create spacing within the card */
    display: inline-block;
    width: 90%; /* Set the width to 100% to ensure it fits within the card */
    text-align: left;
    height: auto; /* Allow the height to adjust based on content */
    }
.explorebtn {
    position: absolute;
    width: 93.80%;
    top: 90%;
    right: 0%;
    left: 3%;
    border-radius: 30px;
    background-color: #00a5c0;
    height: 43px;
    }
.card1-btn {
    position: absolute;
    top: calc(40% - 13.5px);
    left: calc(45% - 65px);
    font-weight: 600;
    display: inline-block;
    width: 200px;
    height: 27px;
    color: #fff;
            }
            nav.mobile-nav{
                display: none;
            }
            @media only screen and (max-width: 1440px) {
                nav{
                    margin-left: -280px;
                    width: 110%;
                }
                nav .logo{
                    margin-left: 150px;
                }
                .content-section{
                    margin-top: -30px;
                    margin-left: -80px;
                }
                .content-section .right img{
                    margin-left: -60%;
                    margin-top: 50px;
                }
                .skills-section{
                    margin-left: -30px;
                }
                .project{
                    margin-left: -70px;
                    width: 80%;
                }
                .skills-section img{
                    margin-top: 1px;
                }
            }
            @media only screen and (max-width: 1024px) {
                nav {
                    top: 0px;
                    width: 70%; /* Adjust as needed */
                    padding-left: 67%; /* Adjust padding for the logo */
                }
                nav .logo {
                    margin-left: -50%;
                }
                
                nav.mobile-nav{
                    display: none;
                }
                /* nav.scrolled.logo {
                    padding-left: 50px;
                } */
                
                
                .content-section {
                    
                    margin-top: -15%;
                    margin-left: -100px;
                }
                .content-section .left h1{
                    font-size: 50px;
                }
                .content-section .left p {
                    height: auto;
                    font-size: 90%;
                    max-width: 90%;
                    margin-top: -1%;
                    padding-right: 15%;
                    
                }
                .btndark{
                    margin-left: -30%;  
                    font-size: 15px;
                }
                .btnlight{
                    margin-left: -20px;
                    font-size: 14px;  
                }
            
                .content-section .left, .content-section .right {
                    width: 80%;
                    text-align: center;
                    padding: 20px 0;
                    padding-top: 20%;
                }
                
            
                .content-section .right img {
                    height: auto;
                    width: 70%;
                    margin-top: 5%;
                    margin-left: -20%;
                    
                    
                }
                .skills-section {
                    
                    margin-top: 10px;
                    margin-left: -2%;
                }
                .skills-section img{
                    width: 15%;
                }
                .skills1{
                    margin-left: -10px;
                }
                
                
                .python,
                .php,
                .javascript,
                .css,
                .html5,
                .react,
                .tailwindcss,
                .bootstrap,
                .django,
                .laravel,
                .vs-code,
                .pgadmin,
                .github,
                .git{
                    margin-left: -50px;
                }
                
            .python, 
            .html5, 
            .css, 
            .javascript, 
            .php{
                font-size: 15px;
                padding: 13px 20px;
                width: 25%;
                height: 55px;
            }
            .php {
                margin-top: -20px;
            }
            .react, .bootstrap, .tailwindcss{
                margin-top: -40px;
                font-size: 15px;
                padding: 13px 20px;
                width: 25%;
                height: 55px;
            }
            .django, .laravel{
                margin-top: -40px;
                font-size: 15px;
                padding: 13px 20px;
                width: 25%;
                height: 55px;
            }
            .vs-code, .figma, .pgadmin, .git, .github {
                margin-top: -40px;
                font-size: 15px;
                padding: 13px 20px;
                width: 25%;
                height: 55px;
            }
            .github {
                margin-top: -60px;
            }
            .html5,
            .bootstrap,
            .laravel,
            .figma{
                margin-left: -30px;
            }
            .css,
            .tailwindcss,
            .pgadmin{
                margin-left: -10px;
            }
            .javascript,
            .git{
                margin-left: 10px;
            }
            
            .frontend-frameworks, .backend-frameworks, .tools{
                margin-top: -40px;
            }
            
            .project{
                margin-top: 10%;
                margin-left: 120px;
                width: 50%;
            }
            .projects1{
                margin-left: -30px;
            }
            .myproject1{
                margin-top: 0%;
                width: 95%;
            }
            .projects-card1 {
            top: 15%;
            width: 90%
            }
            .projects-card2{
                top: 20%;
                margin-left: -60%;
                width: 80%;
            }
            .aipdesc{
                padding-top: 7%;
                font-size: 20px;
            }
            }
            
            @media only screen and (max-width: 980px) {
                nav {
                    top: 0px;
                    width: 80%; /* Adjust as needed */
                    padding-left: 62%; /* Adjust padding for the logo */
                }
                nav .logo{
                    margin-left: -35%;
                }
                .content-section {
                    margin-top: -25%;
                    margin-left: 100px;
                }
                .content-section .right img{
                    width: 90%;
                    margin-top: 200%;
                    margin-left: -240%;
                }
                .skills-section{
                    margin-top: 30%;
                }
                
            .python, 
            .html5, 
            .css, 
            .javascript, 
            .php{
                font-size: 15px;
                padding: 13px 25px;
                width: 27%;
                height: 55px;
            }
            .react, 
            .bootstrap, 
            .tailwindcss{
                margin-top: -40px;
                font-size: 15px;
                padding: 13px 20px;
                width: 27%;
                height: 55px;
            }
            .django, .laravel{
                margin-top: -40px;
                font-size: 15px;
                padding: 13px 20px;
                width: 27%;
                height: 55px;
            }
            .vs-code, .figma, .pgadmin, .git, .github {
                margin-top: -40px;
                font-size: 15px;
                padding: 13px 20px;
                width: 27%;
                height: 55px;
            }
            .html5,
            .bootstrap,
            .laravel,
            .figma{
                margin-left: -15px;
            }
            .css,
            .tailwindcss,
            .pgadmin{
                margin-left: 20px;
            }
            .javascript,
            .git{
                margin-left: 55px;
            }
            .project{
                    margin-left: 90px;
                }
                .projects1{
                    margin-left: -10px;
                }
                .projects-card1,
                .projects-card2{
                width: 100%;
                height: 65%;
                }
                .aipdesc{
                    padding-top: 7%;
                    font-size: 18px;
                }
            }

            @media only screen and (max-width: 768px) {
                
               nav{
                width: 80%;
                padding-left: 43%;
                
               }
               nav .logo {
                margin-left: -13%;
               }
                .content-section{
                    margin-left: 1%;
                }
                .content-section .left .btndark{
                    margin-left: -160px;
                    font-size: 12px;
                }
                .btnlight{
                    font-size: 11px;
                }
                
                .content-section .right img {
                    margin-left: -350%;
                    margin-top: 330%;
                    width: 140%;
                }
                
                
                .skills-section{
                    padding-left: 2%;
                }
                .skills{
                    margin-left: -50px;
                }
                .skills1{
                    margin-left: -2%;
                }
                .python, 
                .html5, 
                .css, 
                .javascript, 
                .php, 
                .react, 
                .bootstrap, 
                .tailwindcss,
                .django, 
                .laravel,
                .vs-code, 
                .figma, 
                .pgadmin, 
                .git, 
                .github{
                font-size: 65%;
                padding: 16px 8px; 
            }
            .projects1{
                margin-left: 1%;
            }
            .project{
                    margin-left: 1%;
                    width: 60%;
                }
                .projects-card1,
                .projects-card2{
                width: 100%;
                height: 60%;
                }
            
            }



            /* Media query for phones (e.g., iPhone) */
            @media only screen and (max-width: 480px) {
                nav {
                    display: none; /* Add this line */
                }
                nav.scrolled{
                    display: none; /* Add this line */
                }
                nav.mobile-nav{
                    display: flex;
                    width: 80%;
                    margin-left: -13%;
                    
                }
                nav .menu-icon{
                    padding-right: 15%;
                    
                }
                
                .content-section {
                    margin-top: 5%;
                    flex-direction: column;
                    margin-left: -90px;
                    width: 100%;
                }
                .content-section .left h1 {
                    display: flex;
                    font-size: 42px;
                    width: 350px;
                    height: 162px;
                }
                .content-section .left p {
                    margin-top: -40px;
                    font-size: 16px;
                    width: 500px;
                }
                .content-section .left .btndark{
                    margin-left: -40%;
                }
                .content-section .left .btnlight{
                    margin-left: -5%;
                }
                .btndark {
                font-size: 70%;
                padding: 13px 20px;
                
                }
                .btnlight{
                    font-size: 70%;
                    padding: 13px 20px;
                }
                .content-section .right img {
                    height: auto;
                    max-width: 80%;
                    padding-left: 350%;
                    margin-top: -20%;
                }
                .skills-section{
                    margin-left: -8%;
                    margin-top: -20%;
                }
                .skills{
                    margin-left: -10px;
                }
                .skills1{
                    margin-left: -10px;
                }
                .html5 img{
                    height: 250%;
                }
                .laravel img{
                    height: 230%;
                }
                .figma img{
                    height: 220%;
                }
                .pgadmin img{
                    height: 220%;
                }
                .python, 
                .html5, 
                .css, 
                .javascript, 
                .php, 
                .react, 
                .bootstrap, 
                .tailwindcss,
                .django, 
                .laravel,
                .vs-code, 
                .figma, 
                .pgadmin, 
                .git, 
                .github{
                font-size: 40%;
                padding: 15px 5px;
                padding-top: 8px;
                width: 30%;
                height: 30px;
            }
            .python,
            .react,
            .django,
            .vs-code{
                margin-left: -1px;
            }
            .html5,
            .bootstrap,
            .laravel,
            .figma{
                margin-left: 25px;
            }
            .css,
            .tailwindcss,
            .pgadmin
            {
                margin-left: 52px;
            }
            .javascript
            {
                margin-top: 35px;
                margin-left: -69.5%;
            }
            .git{
                margin-top: -165px;
                margin-left: -69.5%;
                
            }
            .php{
                margin-top: -46px;
                margin-left: 30.5%;
            }
            .github{
                margin-top: -246px;
                margin-left: 30.5%;
            }

            .language{
                margin-top: 90px;
            }
            .frontend-frameworks{
                margin-top: -90px;
            }
            .backend-frameworks{
                margin-top: -140px;
            }
            .tools{
                margin-top: -190px;
            }
            .react, 
            .bootstrap, 
            .tailwindcss{
                margin-top: -95px;
            }
            .django, 
            .laravel{
                margin-top: -150px;
            }
            .vs-code, 
            .figma, 
            .pgadmin{
                margin-top: -200px;
            }
            .project{
                margin-top: -50%;
                margin-left: -2%;
                
            }
            .card-title{
                font-size: 90%;
                margin-top: -4%;
                margin-left: -4%;
            }
            .aipdesc{
                margin-top: 1%;
                font-size: 70%;
            }
            .explorebtn{
                margin-top: -10px;
            }
            .projects-card1{
                margin-left: 12px;
                width: 110%;
                height: 60%;
                }
            .projects-card2{
                margin-left: -160px;
                width: 110%;
                height: 60%;
            }
        
                /* Adjust other styles as needed for smaller screens */
            }
            @media only screen and (max-width: 414px) {
                nav {
                    display: none; /* Add this line */
                }
                nav.scrolled{
                    display: none; /* Add this line */
                }
                nav.mobile-nav{
                    display: flex;
                    width: 80%;
                    margin-left: -13%;
                }
                nav .menu-icon{
                    padding-right: 15%;
                    
                }
                nav .logo{
                    margin-left: -15%;
                    
                }
                .content-section .left p{
                    font-size: 15px;
                }
                .content-section .left .btndark{
                    margin-left: -30%;
                }
                .content-section .right img{
                    width: 90%;
                    padding-left: 355%;
                }
                .php,
                .github{
                    margin-left: 32%;
                }
                .skills1,
                .projects1{
                    font-size: 35px;
                    margin-left: -10px;
                }
                .project{
                    margin-top: -300px;
                    margin-left: 5%;
                }
                .projects-card1{
                    margin-left: -12%;
                }
                .projects-card2{
                    margin-left: -70%;
                }
                .card-title{
                    font-size: 20px;
                }
                .aipdesc{
                    font-size: 15px;
                    margin-left: -8px;
                }
                .projects-card1,
                .projects-card2{
                width: 110%;
                height: 50%;
                }
                

            }
            @media only screen and (max-width: 380px) {
                
                .content-section .right img{
                    width: 90%;
                    padding-left: 360%;
                }
                .content-section .left p{
                    font-size: 14px;
                }
                .content-section .left .btndark{
                    margin-left: -50px;
                }
                .btndark{
                    padding: 12px 20px;

                    
                    
                }
                .btnlight{
                    padding: 12px 20px;
                }
            
                .skills-section
                {
                    display: block;
                    margin-top: -10%;
                }
                .project{
                    margin-top: -30%;
                }
                .javascript{
                    margin-left: -190px;
                }
                .git{
                    margin-left: -190px;
                }
                .python, 
                .html5, 
                .css, 
                .javascript, 
                .php, 
                .react, 
                .bootstrap, 
                .tailwindcss,
                .django, 
                .laravel,
                .vs-code, 
                .figma, 
                .pgadmin, 
                .git, 
                .github{
                font-size: 40%;
                padding: 15px 5px;
                padding-top: 8px;
                width: 35%;
                height: 30px;
            }
            .html5,
            .bootstrap,
            .laravel,
            .figma
            {
                margin-left: 35px;
            }
            .php,
            .github{
                margin-left: 97px;
            }
            .css,
            .tailwindcss,
            .pgadmin{
                margin-left: 72px;

            }
            .projects-card1,
            .projects-card2{
                width: 140%;
                height: 50%;
                }
                .projects-card1{
                    margin-left: -45px;
                }
                .projects-card2{
                    margin-left: -185px;
                }

                }